@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    95% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 3s ease-out forwards;
  }


  @keyframes fadeFast {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0.5;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-fast {
    animation: fadeFast 3s ease-In forwards;
  }